.container{
    padding: 0.9rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1.5rem;  
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease;
}

.primary{
    background-color: var(--accent-color);
    color: var(--heading-color);

    &:hover{
        background-color: var(--hover-primary);
    }

    &:disabled{
        opacity: 0.5;
    }
}


.secondary{
    background-color: var(--heading-color);
    color: var(--accent-color);
}

.menuButton{
    padding: 0.5rem;
    color:var(--p-color) !important;
    font-weight: 400;
    background-color: transparent;
    color: var(--heading-color);
}

.aside{
    justify-content: flex-start;
    background-color: var(--accent-color);
    color: var(--heading-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;

    &:hover{
        background-color: var(--hover-primary);
    }
}


.createBoard{
    justify-content: flex-start;
    background-color: transparent;
    color: var(--accent-color);
}

.inActive{
    justify-content: flex-start;
    background-color: transparent;
    color: var(--p-color);
  
}



.deleteButton{
    padding: 0.5rem;
    background-color: transparent;
    font-weight: 400;
    color: var(--secondary-color);
}