.container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    z-index: 1000;
}

.modal {
    width: 480px;
    margin-inline: auto;
    padding: 2rem;
    background-color: var(--dark-gray);
    border-radius: 0.5rem;
}