.emptyContainer {
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-inline: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.columnContainer {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 1.5rem;
}

@media screen and (min-width: 768px) {
    .emptyContainer {
        width: calc(100% - 300px);
        margin-left: auto;
    }

    .columnContainer {
        width: calc(100% - 300px);
        margin-left: auto;
    }

}