.emptyContainer {
    text-align  : center;
    width: 100%;
    height: 100vh;
    display: flex;
    padding-inline: 2.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}